* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.navbar {
    color: white;
    background-color: hsl(240, 100%, 20%);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

main {
    margin-top: 4rem;
    display: grid;
    place-items: center;
}
h2 {
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}
.todos-app {
    margin: 2rem 0;
    width: 90%;
    padding: 2rem;
}
.todoForm {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border: 1px solid gray;
}
.todoForm .input-group {
    display: flex;
    gap: 2rem;
    width: 80%;
}
.input-content {
    width: 70%;
    height: 100%;
    font-size: 2rem;
    padding: 0 1rem;
}
.todoForm label {
    font-size: 2rem;
    padding: 1rem;
}
.todos-periority {
    margin-top: 2rem;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    gap: 2rem;
}
.todo {
    border: 1px solid gray;
    margin: 2rem 0;
    height: 10rem;
    display: grid;
    grid-template: 1fr 1fr 1fr / 10fr 2fr 2rem;
    grid-template-areas:
        " . . grap"
        " title btn-group grap"
        " . . grap";
    gap: 1rem;
    align-items: center;
}
.todo:hover {
    box-shadow: 1px 1px 10px gray;
}
.low {
    background-color: aliceblue;
}
.normal {
    background-color: hsl(56, 100%, 97%);
}
.urgent {
    background-color: hsl(16, 100%, 97%);
}
.todo > h3 {
    grid-area: title;
    padding: 1rem;
}
.todo .btn-grap {
    grid-area: grap;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group {
    grid-area: btn-group;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}
.btn {
    padding: 0.5rem 1rem;
    background-color: hsl(229, 100%, 75%);
    color: white;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2rem;
}
.btn-remove {
    background-color: hsl(5, 100%, 75%);
}

.todo.todo-done {
    background-color: gray;
}

.todo.todo-done .btn-toggle {
    background-color: hsl(0, 1%, 25%);
}

.todo-edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    padding: 2rem;
    display: none;
    place-items: center;
    font-size: 1.8rem;
}
.todo-edit-modal--show {
    display: grid;
}

.todo-edit-modal .todo {
    display: grid;
    grid-template: 1fr/1fr 6fr 2fr;
    place-items: center;
    gap: 1rem;
    background-color: hsla(0, 0%, 90%, 0.8);
}

.todo-edit-modal .input-content {
    width: 100%;
}
